<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--  Database connection settings  -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://blmgzeva7brhfkwakbhr-mysql.services.clever-cloud.com:3306/blmgzeva7brhfkwakbhr</property>
        <property name="hibernate.connection.username">uzdgzepfwq57ysxx</property>
        <property name="hibernate.connection.password">FC4XZSjXQNStuLHRuj9g</property>
        <!--  SQL dialect  -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!--  Entity Clases  -->
        <mapping class="entity"/>
    </session-factory>
</hibernate-configuration>